<div class='form-text'>
<%= form_with model: @group, url: groups_path, local: true do |form| %>
  <%= form.text_field :name %>
  
  <%= form.collection_check_boxes(:user_ids, User.all, :id, :name) %>
  <%= form.submit "SEND" %>
<% end %>
</div>
