header {
  border-bottom: 1px solid gray;
  background-color: #666666;

  height: 80px;
}
.wrapper {
  margin: 83px auto 0;
}
.wrapper::after {
  display: block;
  content: "";
  clear: both;
}
.side-ber {
  background-color: goldenrod;
  align-items: center;
  float: left;
  line-height: 100px;
  color: #ffffff;
  width: 300px;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  &__user-name {
    height: 100px;

  }
  &__new-group {

  }
  .groups {

  

    &__name {

    }
  }
  
}

.event-main {
  width: calc(100vw - 300px);
  float: left;
  flex-direction: column;
}
.event-new {
  text-align: center;

}

  .simple-calendar {
    padding: 20px;
    .day {}
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {}
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {}
    .next-month { }
    .current-month {}
  
    .has-events {}
  }

