header {
  border-bottom: 1px solid gray;
  background-color: #666666;

  height: 80px;
}
.wrapper {
  margin: 83px auto 0;
}
.wrapper::after {
  display: block;
  content: "";
  clear: both;
}
.side-ber {
  background-color: whitesmoke;
  align-items: center;
  float: left;
  color: #666666;
  width: 250px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  &__user-name {
    height: 80px;
    font-size: 20px;

  }
  &__new-group {
    padding-bottom: 10px;
  }
  .groups {

  

    &__name {
      padding-bottom: 10px;

    }
    &__index {
      
      a {
        line-height:2em;
        padding: 5px;
      }

    }
    
  }
  
}

.event-main {
  width: calc(100vw - 300px);
  float: left;
  flex-direction: column;
}
.event-new {
  padding-top: 15px;
  text-align: center;
  height: 40px;
  i {
    font-size: 1.3em;
    color: #FFCC00;
      }
}
#requests {
  
}
  .simple-calendar {
    padding: 20px;
    background-color: #fff;
    .day {}
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {}
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {}
    .next-month { }
    .current-month {}
  
    .has-events {}
  }

